<div class="registerPage">
  <div class="container-form" [class.next-form]="nextForm">
    <div class="container-logo">
      <img
        src="../../../../../assets/img/logo/Logo Linear Gradient.svg"
        alt="logo"
        class="logo"
      />
      <h4>Fast Party</h4>
    </div>
    <div class="container-form-content">
      <h1>Crea tu cuenta</h1>
      <form [formGroup]="RegisterForm" class="register-form" action="#">
        <div class="register-form-inputs">
          @if (!nextForm) {
          <div
            class="input-container"
            [class.remove-delay]="applyDelay"
            [class.input-container-error]="
              RegisterForm.get('NombreUsuario')?.invalid &&
              (RegisterForm.get('NombreUsuario')?.touched ||
                RegisterForm.get('NombreUsuario')?.dirty)
            "
          >
            <input
              type="text"
              id="input"
              [(ngModel)]="registerObj.NombreUsuario"
              formControlName="NombreUsuario"
              required
              [class.remove-delay-input]="applyDelay"
            />
            <label
              for="input"
              class="label"
              [class.remove-delay-input]="applyDelay"
              >Nombre de usuario</label
            >
            <div class="underline"></div>
            @if(RegisterForm.get('NombreUsuario')?.touched &&
            RegisterForm.get('NombreUsuario')?.hasError('required')) {
            <p class="error-message-input">El nombre de usuario es obligatorio</p>
            }@else if (RegisterForm.get('NombreUsuario')?.dirty &&
            RegisterForm.get('NombreUsuario')!.hasError('maxlength')) {
            <p class="error-message-input">
              El nombre de usuario no puede tener más de 30 caracteres
            </p>
            }
          </div>
          <div
            class="input-container"
            [class.remove-delay]="applyDelay"
            [class.input-container-error]="
              RegisterForm.get('Email')?.invalid &&
              RegisterForm.get('Email')?.touched
            "
          >
            <input
              type="text"
              id="input"
              [(ngModel)]="registerObj.Email"
              required
              formControlName="Email"
              [class.remove-delay-input]="applyDelay"
              [class.error-input]="applyAnimationEye"
            />
            <label
              for="input"
              class="label"
              [class.remove-delay-input]="applyDelay"
              >Correo electrónico</label
            >
            <div class="underline"></div>
            @if(RegisterForm.get('Email')?.touched &&
            RegisterForm.get('Email')?.hasError('required')) {
            <p class="error-message-input">El correo electrónico es obligatorio</p>
            }@else if (RegisterForm.get('Email')?.touched &&
            RegisterForm.get('Email')!.hasError('email')) {
            <p class="error-message-input">El correo electrónico no es valido</p>
            }
          </div>
          <div
            class="input-container"
            [class.remove-delay]="applyDelay"
            [class.input-container-error]="
              RegisterForm.get('Contrasenya')?.invalid &&
              (RegisterForm.get('Contrasenya')?.touched ||
                RegisterForm.get('Contrasenya')?.dirty)
            "
          >
            @if (!showPassword) {
            <input
              type="password"
              id="input "
              [(ngModel)]="registerObj.Contrasenya"
              required
              formControlName="Contrasenya"
              [class.remove-delay-pwd]="applyAnimationEye"
              [class.remove-delay-input]="applyDelay"
            />
            }@else {
            <input
              type="text"
              id="input"
              [(ngModel)]="registerObj.Contrasenya"
              formControlName="Contrasenya"
              required
              [class.remove-delay-pwd]="applyAnimationEye"
              [class.remove-delay-input]="applyDelay"
            />
            }
            <label class="password-input">
              <button (click)="togglePasswordVisibility()" class="input-eye">
                @if (!showPassword) {
                <img
                  class="eye"
                  [class.new-animations-eye]="applyAnimationEye"
                  src="../../../../../assets/icons/thin/eye-slash-thin.svg"
                  alt=""
                  [class.remove-delay-input]="applyDelay"
                />
                }@else {
                <img
                  class="eye"
                  [class.new-animations-eye]="applyAnimationEye"
                  src="../../../../../assets/icons/thin/eye-thin.svg"
                  alt=""
                  [class.remove-delay-input]="applyDelay"
                />
                }
              </button>
            </label>
            <label
              for="input"
              class="label"
              [class.remove-delay-input]="applyDelay"
              >Contraseña</label
            >
            <div class="underline"></div>
            @if(RegisterForm.get('Contrasenya')?.touched &&
            RegisterForm.get('Contrasenya')?.hasError('required')) {
            <p class="error-message-input">La contraseña es obligatoria</p>
            }@else if (RegisterForm.get('Contrasenya')?.dirty &&
            RegisterForm.get('Contrasenya')!.hasError('minlength')) {
            <p class="error-message-input">
              La contraseña debe tener al menos 8 caracteres
            </p>
            }@else if (RegisterForm.get('Contrasenya')?.dirty &&
            RegisterForm.get('Contrasenya')!.hasError('pattern')) {
            <p class="error-message-input">
              La contraseña debe contener minimo una letra, un número o un
              símbolo.
            </p>
            }
          </div>
          <div
            class="input-container"
            [class.remove-delay]="applyDelay"
            [class.input-container-error]="
              !samePassword &&
              RegisterForm.get('RepetirContrasenya')?.touched &&
                registerObj.Contrasenya !== ''
            "
          >
            @if (!showPassword) {
            <input
              type="password"
              id="input"
              [(ngModel)]="repetirContrasenya"
              formControlName="RepetirContrasenya"
              required
              [class.remove-delay-pwd]="applyAnimationEye"
              [class.remove-delay-input]="applyDelay"
              (keyup)="comparePasswords()"
            />
            }@else {
            <input
              type="text"
              id="input"
              [(ngModel)]="repetirContrasenya"
              formControlName="RepetirContrasenya"
              required
              [class.remove-delay-pwd]="applyAnimationEye"
              [class.remove-delay-input]="applyDelay"
              (keyup)="comparePasswords()"
            />
            }
            <label
              for="input"
              class="label"
              [class.remove-delay-input]="applyDelay"
              >Repetir contraseña</label
            >
            <div class="underline"></div>
            @if(RegisterForm.get('RepetirContrasenya')?.touched && !samePassword
            && registerObj.Contrasenya !== '') {
            <p class="error-message-input">Las contraseñas no coinciden</p>
            }
          </div>
          }@else {
          <div
            class="input-container"
            [class.remove-delay]="applyDelay"
            [class.input-container-error]="
              RegisterForm.get('Nombre')?.invalid &&
              (RegisterForm.get('Nombre')?.touched ||
                RegisterForm.get('Nombre')?.dirty)
            "
          >
            <input
              type="text"
              id="input"
              [(ngModel)]="registerObj.Nombre"
              formControlName="Nombre"
              required
              [class.remove-delay-input]="applyDelay"
            />
            <label
              for="input"
              class="label"
              [class.remove-delay-input]="applyDelay"
              >Nombre</label
            >
            <div class="underline"></div>
            @if(RegisterForm.get('Nombre')?.touched &&
            RegisterForm.get('Nombre')?.hasError('required')) {
            <p class="error-message-input">El nombre es obligatorio</p>
            }@else if (RegisterForm.get('Nombre')?.dirty &&
            RegisterForm.get('Nombre')!.hasError('maxlength')) {
            <p class="error-message-input">
              El nombre no puede tener más de 150 caracteres
            </p>
            }
          </div>
          <div
            class="input-container"
            [class.remove-delay]="applyDelay"
            [class.input-container-error]="
              RegisterForm.get('Apellidos')?.invalid &&
              (RegisterForm.get('Apellidos')?.touched ||
                RegisterForm.get('Apellidos')?.dirty)
            "
          >
            <input
              type="text"
              id="input"
              [(ngModel)]="registerObj.Apellidos"
              formControlName="Apellidos"
              required
              [class.remove-delay-input]="applyDelay"
            />
            <label
              for="input"
              class="label"
              [class.remove-delay-input]="applyDelay"
              >Apellidos</label
            >
            <div class="underline"></div>
            @if(RegisterForm.get('Apellidos')?.touched &&
            RegisterForm.get('Apellidos')?.hasError('required')) {
            <p class="error-message-input">Los apellidos son obligatorios</p>
            }@else if (RegisterForm.get('Apellidos')?.dirty &&
            RegisterForm.get('Apellidos')!.hasError('maxlength')) {
            <p class="error-message-input">
              Los apellidos no pueden tener más de 150 caracteres
            </p>
            }
          </div>
          <div 
          class="container-input-date-label"
          [class.container-input-date-label-error]="!isAgeValid"
          >
            <label
              for="input"
              class="label-date"
              [class.remove-delay-input]="applyDelay"
              >Fecha de nacimiento
            </label
            >
            <div class="container-input-date">
              <div 
              class="input-container" 
              [class.remove-delay]="applyDelay"
              >
                <select
                  id="input"
                  formControlName="FechaNacimientoDia"
                  required
                  [class.remove-delay-input]="applyDelay"
                >
                  <option class="select-option" label="Día" value>Día</option>
                  @for (day of daysArray; track day) {
                  <option class="select-option" label="{{ day }}" value="{{ day }}">
                    {{ day }}
                  }
                </select>
                <div class="underline"></div>
              </div>
              <div 
              class="input-container" 
              [class.remove-delay]="applyDelay"
              >
                <select
                  id="input"
                  required
                  formControlName="FechaNacimientoMes"
                  [class.remove-delay-input]="applyDelay"
                >
                  <option class="select-option" label="Mes" value>Mes</option>
                  <option class="select-option" label="Enero" value="1">
                    Enero
                  </option>
                  <option class="select-option" label="Febrero" value="2">
                    Febrero
                  </option>
                  <option class="select-option" label="Marzo" value="3">
                    Marzo
                  </option>
                  <option class="select-option" label="Abril" value="4">
                    Abril
                  </option>
                  <option class="select-option" label="Mayo" value="5">
                    Mayo
                  </option>
                  <option class="select-option" label="Junio" value="6">
                    Junio
                  </option>
                  <option class="select-option" label="Julio" value="7">
                    Julio
                  </option>
                  <option class="select-option" label="Agosto" value="8">
                    Agosto
                  </option>
                  <option class="select-option" label="Septiembre" value="9">
                    Septiembre
                  </option>
                  <option class="select-option" label="Octubre" value="10">
                    Octubre
                  </option>
                  <option class="select-option" label="Noviembre" value="11">
                    Noviembre
                  </option>
                  <option class="select-option" label="Diciembre" value="12">
                    Diciembre
                  </option>
                </select>
                <div class="underline"></div>
              </div>
              <div 
              class="input-container" 
              [class.remove-delay]="applyDelay"
              >
                <select
                  id="input"
                  required
                  formControlName="FechaNacimientoAno"
                  [class.remove-delay-input]="applyDelay"
                >
                  <option class="select-option" label="Año" value>Año</option>
                  @for (year of yearsArray; track year) {
                  <option class="select-option" label="{{ year }}" value="{{ year }}">
                    {{ year }}
                  }
                </select>
                <div class="underline"></div>
              </div>
            </div>
            @if(!isAgeValid) {
            <p class="error-message-input">La fecha de nacimiento no es valida</p>
            }
          </div>
          <div
            class="input-container"
            [class.remove-delay]="applyDelay"
            [class.input-container-error]="
              RegisterForm.get('Telefono')?.invalid &&
              RegisterForm.get('Telefono')?.touched"
          >
            <input
              type="tel"
              id="input"
              [(ngModel)]="registerObj.Telefono"
              formControlName="Telefono"
              required
              [class.remove-delay-input]="applyDelay"
            />
            <label
              for="input"
              class="label"
              [class.remove-delay-input]="applyDelay"
              >Teléfono</label
            >
            <div class="underline"></div>
            @if(RegisterForm.get('Telefono')?.touched &&
            RegisterForm.get('Telefono')?.hasError('required')) {
            <p class="error-message-input">El telefono es obligatorio</p>
            }@else if (RegisterForm.get('Telefono')?.touched &&
            RegisterForm.get('Telefono')!.hasError('pattern')) {
            <p class="error-message-input">
              El telefono solo puede contener 9 números
            </p>
            }
          </div>
          }
        </div>
        <div class="container-btnForm-btnReturn-terms">
          <button type="button" class="btn-register" (click)="gestionBoton()">
            {{ nextForm ? "Crear cuenta" : "Siguiente" }}
          </button>
          @if (nextForm) {
          <button
            type="button"
            class="btn-back"
            (click)="this.nextForm = !this.nextForm"
          >
            Atrás
          </button>
          <p>
            Al registrarte, aceptas los <a href="#">Términos de servicio</a> y
            la <a href="#">Política de privacidad</a>, incluida la política de
            <a href="#">Uso de Cookies</a>.
          </p>
          }
        </div>
      </form>
      @if (!nextForm) {
      <div
        class="container-register-with_account"
        [class.reduce-delay]="applyDelay"
      >
        <p>¿Ya tienes una cuenta?</p>
        <a routerLink="/login">Iniciar sesión</a>
      </div>
      }
    </div>
  </div>
</div>
