<div class="union-tag_menu-list_events">
  <div class="tag_menu-filters">
    <div class="container_tag_menu">
      <div class="tag-for_you" role="button">
        <a routerLink="for-you" routerLinkActive="tag-select">Para ti</a>
      </div>
      <div class="tag-following" role="button">
        <a routerLink="following" routerLinkActive="tag-select">Siguiendo</a>
      </div>
    </div>
    <div class="container-filters" role="button">
      <img
        src="../../../../../assets/icons/light/funnel-simple-light.svg"
        alt="filter"
      />
      <p>Filtros</p>
    </div>
  </div>
  <main>
    <router-outlet></router-outlet>
  </main>
  <button class="btn-see_map">
    <img
      src="../../../../../assets/icons/fill/map-pin-fill.svg"
      alt="ver mapa"
    />
    <p>Ver mapa</p>
  </button>
</div>
