<div class="containerFT">
  <p>© <span>{{actualYear}}</span> Fast Party. All rights reserved</p>
  <div class="container-policies">
    <div class="container-policies-idioms">
      <select name="idioms" id="idioms">
        <option value="spanish" selected>Español</option>
        <option value="catalan">Catalán</option>
        <option value="english">Inglés</option>
        <option value="italian">Italiano</option>
        <option value="french">Francés</option>
        <option value="portuguese">Portugués</option>

      </select>
    </div>
    <a href="" class="" id="">Términos del servicio</a>
    <a href="" class="" id="">Política de privacidad</a>
    <a href="" class="" id="">Administrar privacidad</a>
  </div>
</div>
