<div class="pageLP">
  <header>
    <app-nav-bar></app-nav-bar>
  </header>
  <main>
    <div class="startText">
      <h1>Crea <span>planes</span> o únete a ellos</h1>
      <p>Qui mollit Lorem sunt do ex dolor dolore ipsum Lorem reprehenderit dolor excepteur excepteur.</p>
      <button class="btnIcon">Empezar <img src="../../../../../assets/icons/regular/caret-right.svg" alt=""></button>
    </div>
    <div class="carrusel-img">
  
    </div>
    <img class="double-arrow" src="../../../../../assets/icons/regular/caret-double-down.svg" alt="Double arrow down">
    <app-rombo class="rombo"></app-rombo>
  </main>
  <footer>

  </footer>
</div>
