<div class="pageLP">
  <header>
    <app-nav-bar></app-nav-bar>
  </header>
  <main>
    <div class="startText">
      <h1>Crea <span>planes</span> o únete a ellos</h1>
      <p>
        Qui mollit Lorem sunt do ex dolor dolore ipsum Lorem reprehenderit dolor
        excepteur excepteur.
      </p>
      <button class="btnIcon">
        Empezar
        <img src="../../../../../assets/icons/regular/caret-right.svg" alt="" />
      </button>
    </div>
    <div class="carousel">
      <div class="carousel-track">
        <img
          class="dsg-img"
          src="https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="fiesta"
        />

        <img
          class="dsg-img"
          src="https://images.unsplash.com/photo-1626248801379-51a0748a5f96?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="futbol"
        />

        <img
          class="dsg-img"
          src="https://images.unsplash.com/photo-1491555103944-7c647fd857e6?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="montaña"
        />

        <img
          class="dsg-img"
          src="https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="cine"
        />

        <img
          class="dsg-img"
          src="https://images.unsplash.com/photo-1522211041032-a7eb9a3f8c0f?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="karting"
        />

        <img
          class="dsg-img"
          src="https://images.unsplash.com/photo-1592222491987-aebdb920e1a0?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="ciclismo"
        />

        <img
          class="dsg-img"
          src="https://images.unsplash.com/photo-1572953109213-3be62398eb95?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="museo"
        />

        <img
          class="dsg-img"
          src="https://images.unsplash.com/photo-1599484206104-b3d99b652141?q=80&w=1968&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="playa"
        />

        <img
          class="dsg-img"
          src="https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="fiesta"
        />

        <img
          class="dsg-img"
          src="https://images.unsplash.com/photo-1626248801379-51a0748a5f96?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="futbol"
        />

        <img
          class="dsg-img"
          src="https://images.unsplash.com/photo-1491555103944-7c647fd857e6?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="montaña"
        />

        <img
          class="dsg-img"
          src="https://images.unsplash.com/photo-1517604931442-7e0c8ed2963c?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="cine"
        />

        <img
          class="dsg-img"
          src="https://images.unsplash.com/photo-1522211041032-a7eb9a3f8c0f?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="karting"
        />

        <img
          class="dsg-img"
          src="https://images.unsplash.com/photo-1592222491987-aebdb920e1a0?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="ciclismo"
        />

        <img
          class="dsg-img"
          src="https://images.unsplash.com/photo-1572953109213-3be62398eb95?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="museo"
        />

        <img
          class="dsg-img"
          src="https://images.unsplash.com/photo-1599484206104-b3d99b652141?q=80&w=1968&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="playa"
        />
      </div>
    </div>
    <img
      class="double-arrow"
      src="../../../../../assets/icons/regular/caret-double-down.svg"
      alt="Double arrow down"
    />
    <div class="container-rombo-strenghts-images">
      <div class="container-strengths">
        <h1>
          Descubre tus <span [class.animation-text-strengths]="applyAnimation">{{ wrd }}</span>
        </h1>
        <p [class.animation-text-strengths]="applyAnimation">{{ prg }}</p>
      </div>
      <div class="strengths-images">
        <img
        [class.animation-img-strengths]="applyAnimation"
          class="dsg-img top-left"
          src="{{ imgs.img_src_TL }}"
          alt="fiesta"
        />
        <img
        [class.animation-img-strengths]="applyAnimation"
          class="dsg-img top-right"
          src="{{ imgs.img_src_TR }}"
          alt="fiesta"
        />
        <img
        [class.animation-img-strengths]="applyAnimation"
          class="dsg-img bottom-left"
          src="{{ imgs.img_src_BL }}"
          alt="fiesta"
        />
        <img
        [class.animation-img-strengths]="applyAnimation"
          class="dsg-img bottom-right"
          src="{{ imgs.img_src_BR }}"
          alt="fiesta"
        />
      </div>
      <app-rombo class="absolute-rombo"></app-rombo>
      <div class="container-position-slick-buttons ">
        <ul class="container-buttons-slider scroll-reveal">
          <li [class.slick-active]="activeIndex === 0">
            <button (click)="changeSlide(0)">Aventuras</button>
          </li>
          <li [class.slick-active]="activeIndex === 1">
            <button (click)="changeSlide(1)">Amigos</button>
          </li>
          <li [class.slick-active]="activeIndex === 2">
            <button (click)="changeSlide(2)">Hobbies</button>
          </li>
        </ul>
      </div>
    </div>
    <section class="container-find-inter" #romboRight>
      <div class="container-rombos-FI">
        <app-rombo class="absolute-rombo romboFI-right"></app-rombo>
        <app-rombo class="absolute-rombo romboFI-left" ></app-rombo>
      </div>
      <div class="find-inter">
        <div class="content-find-inter" #contentFindInter id="cfi">
          <img
            src="../../../../../assets/img/findInterGroup.svg"
            alt="Img Find Inter"
          />
          <div class="content-text-find-inter">
            <h1>We make everything easy</h1>
            <h6>
              Con nuestra herramienta de filtrado y una interfaz fácil de usar,
              te ayudamos a encontrar lo que te gusta rápidamente. Además, al
              considerar tus intereses, te ofrecemos recomendaciones
              personalizadas para que disfrutes al máximo cada experiencia.
            </h6>
          </div>
        </div>
      </div>
      <div class="find-inter" #romboLeft>
        <div class="content-find-inter" #contentFindInter2 id="cfi2">
          <div class="content-text-find-inter">
            <h1>Meet new people and join out community</h1>
            <h6>
              Con nuestra herramienta de filtrado y una interfaz fácil de usar,
              te ayudamos a encontrar lo que te gusta rápidamente. Además, al
              considerar tus intereses, te ofrecemos recomendaciones
              personalizadas para que disfrutes al máximo cada experiencia.
            </h6>
          </div>
          <img
            src="../../../../../assets/img/glass musical find inter.svg"
            alt="Img Find Inter"
          />
        </div>
      </div>
    </section>
  </main>
  <div class="mini-form-register">
    <app-rombo class="bkg-rombo-form"></app-rombo>
    <div class="container-miniform-register">
      <h1>Únete a nuestra comunidad</h1>
      <div class="input-group">
        <div class="cont-input-group">
          <input
            type="email"
            class="input"
            id="Email"
            name="Email"
            placeholder="Correo electrónico"
            autocomplete="off"
          />
          <input class="button--submit" value="Registrarte" type="submit" />
        </div>
      </div>
    </div>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
