@use "../../../../../sass/variables.scss" as stl;

.autor_profile-page {
  display: flex;
  margin-inline: 24px;
  align-self: stretch;

  @media screen and (max-width: 860px) {
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  .container-autor_information {
    display: flex;
    position: sticky;
    top: 80px;
    height: 100%;
    width: 400px;

    @media screen and (max-width: 860px) {
      position: relative !important;
      top: 0 !important;
      width: 70% !important;
      align-self: center;

      width: 100% !important;
      padding: 0 !important;
    }

    @media screen and (max-width: 630px) {
      width: 100% !important;
      padding: 0 !important;
    }

    padding: 0px 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    align-self: stretch;

    animation: fade-in-top 0.7s ease-in-out forwards;

    .autor_info-autor_stats-btn_follow-separator {
      display: flex;
      padding: 0px 12px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      gap: 40px;

      @media screen and (max-width: 860px) {
        align-self: center;
      }

      @media screen and (max-width: 400px) {
        align-self: stretch;
      }

      .autor_info-autor_stats-btn_follow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        align-self: stretch;

        .autor_logo-autor_info {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;
          align-self: stretch;

          img {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            object-position: center;
            object-fit: cover;
          }

          .autor_name-autor_direction {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            align-self: stretch;

            h2 {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              align-self: stretch;

              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              text-align: center;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            a {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              align-self: stretch;

              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              text-align: center;
              text-decoration: none;
              color: rgba(stl.$base-color-black, 0.8);
              transition: .3s ease-in-out;

              &:hover {
                color: stl.$base-color-black
              }
            }
          }
        }

        .autor_stats {
          display: flex;
          padding: 0px 24px;
          justify-content: center;
          align-items: center;
          gap: 16px;
          align-self: stretch;

          .num_stat {
            font-size: 20px;
            font-weight: 700;
            color: stl.$base-color-black;
            text-align: center;
            align-self: stretch;
          }

          .label_stat {
            font-size: 14px;
            font-weight: 400;
            color: rgba(stl.$base-color-black, 0.5);
            text-align: center;
            align-self: stretch;
            text-transform: lowercase;
          }

          .autor_stats--info_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            flex: 1 0 0;
          }

          .separator_vertical {
            width: 1px;
            align-self: stretch;
            background-color: rgba(stl.$base-color-black, 0.1);
          }
        }

        .btn_follow {
          width: 100%;
          display: flex;
          padding: 8px 12px;
          justify-content: center;
          align-items: center;
          background: linear-gradient(
              15deg,
              stl.$primary-color-500,
              stl.$secondary-color-600,
              stl.$primary-color-500
            )
            no-repeat;
          background-position: left center;
          background-size: 300%;
          color: stl.$base-color-white;
          gap: 10px;
          align-self: stretch;
          cursor: pointer;
          border-radius: 6px;
          border: none;
          transition: 0.3s ease-in-out;
          animation: fade-in-bottom 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) .3s both;
          &:hover {
            background-size: 320%;
            background-position: right center;
          }
        }
      }

      .separator {
        width: 100%;
        height: 1px;
        background-color: rgba(stl.$base-color-black, 0.1);
      }
    }

    .container-autor_description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      flex: 1 0 0;
      align-self: stretch;

      .description-container {
        max-height: 25vh;
        overflow-y: auto;
        flex: 1 0 auto;

        p {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          color: rgba(stl.$base-color-black, 0.8);
        }

        scrollbar-width: thin;
        scrollbar-color: rgba(stl.$base-color-black, 0.1)
          rgba(stl.$base-color-black, 0.05);

        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-track {
          background: rgba(stl.$base-color-black, 0.05);
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(stl.$base-color-black, 0.1);
          border-radius: 10px;
          border: 2px solid rgba(stl.$base-color-black, 0.05);
        }
      }
    }
  }

  .container--autor_images-autor_events__comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
    width: 100%;

    animation: appear 0.7s ease-in-out forwards;

    .container--autor_images {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      gap: 16px;
      flex: 1 0 0;
      align-self: stretch;

      //background-color: red;

      .container--title-images {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-self: stretch;

        //background-color: blueviolet;
        .container--images {
          display: flex;
          flex-wrap: wrap;
          gap: 12px;
          //background-color: yellow;
          img {
            flex: 1 0 230px;
            width: 100%;
            height: 270px;
            object-fit: cover;
            border-radius: 12px;
            transition: 0.3s ease-in-out;
            &:hover {
              transform: scale(1.02);
            }
          }

          p {
            width: 100%;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 310px;
            color: rgba(stl.$base-color-black, 0.33);
            text-align: center;

            animation: appear 0.7s ease-in-out forwards;
          }
        }
      }
    }

    .container--events__comments-tag_menu {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      align-self: stretch;

      min-height: 445px;

      .container-tag_menu {
        position: relative;
        left: 0;
        transform: translateX(0);
        animation: fade-in-bottom 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s
          both;
        div[role="button"] {
          a {
            font-size: 14px !important;
          }
        }
      }

      .events__comments {
        flex: 1 0 0;
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
  }
}
