<div class="contenedorFooter">
  <div class="container-footer-logo-RRSS">
    <img src="../../../../../assets/img/logo/Logo Linear Gradient.svg" alt="logo" class="logo" />
    <div class="footer-RRSS">
      <a href="#">
        <img
          src="../../../../../assets/icons/regular/facebook-logo.svg"
          alt="facebook-logo"
        />
      </a>
      <a href="#">
        <img
          src="../../../../../assets/icons/regular/twitter-logo.svg"
          alt="twitter-logo"
        />
      </a>
      <a href="#">
        <img
          src="../../../../../assets/icons/regular/tiktok-logo.svg"
          alt="tiktok-logo"
        />
      </a>
      <a href="#">
        <img
          src="../../../../../assets/icons/regular/instagram-logo.svg"
          alt="instagram-logo"
      /></a>
    </div>
  </div>
  <div class="container-footer-sections">
    <div class="container-column-section">
      <h6>Compañia</h6>
      <div class="column-section">
        <a href="" class="" id="">Conócenos</a>
        <a href="" class="" id="">Blog</a>
      </div>
    </div>
    <div class="container-column-section">
      <h6>Soporte</h6>
      <div class="column-section">
        <a href="" class="" id="">Documentos</a>
        <a href="" class="" id="">Foro</a>
        <a href="" class="" id="">Ayuda</a>
      </div>
    </div>
  </div>
  <div class="container-footer-stores">
    <a href="">
      <img
        src="../../../../../assets/img/appstore.svg"
        alt="App Store"
        class="store"
    /></a>
    <a href="">
      <img
        src="../../../../../assets/img/googleplay.svg"
        alt="Google Play"
        class="store"
      />
    </a>
  </div>
  <div class="container-footer-policies">
    <p>© 2024 Fast Party. All rights reserved</p>
    <div class="container-policies">
      <div class="container-policies-idioms">
        <select name="idioms" id="idioms">
          <option value="spanish" selected>Español</option>
          <option value="english">Inglés</option>
        </select>
      </div>
      <a href="" class="" id="">Términos del servicio</a>
      <a href="" class="" id="">Política de privacidad</a>
      <a href="" class="" id="">Administrar privacidad</a>
    </div>
  </div>
</div>
