<div>
    <div [class]="planContainer">
        <h2>{{plan.Titulo}}</h2>
        <p>{{plan.RutaImagenPlan}}</p>
        <p>{{plan.IdAutor}}</p>
        <p>{{plan.Fecha}}</p>
        <p>{{plan.Localizacion}}</p>
        <p>{{plan.Descripcion}}</p>
        <p>{{plan.EdadMinima}}</p>
        <p>{{plan.EdadMaxima}}</p>
        <p>{{plan.AforoMaximo}}</p>
        <p>{{plan.Valoracion}}</p>
    </div>
    <br><br>
    @if (plan.IdEstado == null ) {
    <button (click)="handleJoinButton()">Join</button>
    } @else if (plan.IdEstado == 1) {
    <button (click)="handleCancelAndLeaveButton()">Cancel</button>
    } @else if (plan.IdEstado == 2) {
    <button (click)="handleCancelAndLeaveButton()">Leave</button>
    }

</div>