<div class="event-page">
  <div class="container--event_img_cover-btn_join-icons">
    <div class="container--autor-event_image_cover">
      <div
        class="container--local_img-local_name"
        [routerLink]="['/', idUsuario, 'autor', plan.IdAutor]"
      >
        <img src="{{ plan.ImagenLogoAutor }}" alt="imagen logo autor" />
        <p>{{ plan.NombreAutor }}</p>
      </div>
      <div class="event_img_cover-btn_join">
        <img src="{{ eventoImagenPortada }}" alt="" />
        <button class="btn_join" (click)="toggleJoin()">
          @if (plan.IdEstado == null ) { Unirse } @else if (plan.IdEstado == 1)
          { Cancelar } @else if (plan.IdEstado == 2) { Dejar }
        </button>
      </div>
    </div>
    <div class="container--icons">
      <div class="icon_circle">
        <img
          class="characteristics-icon"
          src="../../../../assets/icons/regular/music-note.svg"
          alt="icon"
        />
      </div>
      <div class="icon_circle">
        <img
          class="characteristics-icon"
          src="../../../../assets/icons/regular/car.svg"
          alt="icon"
        />
      </div>
      <div class="icon_circle">
        <img
          class="characteristics-icon"
          src="../../../../assets/icons/regular/martini.svg"
          alt="icon"
        />
      </div>
      <div class="icon_circle">
        <img
          class="characteristics-icon"
          src="../../../../assets/icons/regular/t-shirt.svg"
          alt="icon"
        />
      </div>
    </div>
  </div>
  <div class="container--event_info-event_images">
    <div class="container--event_title-event_features">
      <h2>{{ plan.Titulo }}</h2>
      <div class="container--event_features">
        <div class="event_feature__min_age">
          <img src="../../../../assets/icons/bold/plus-bold.svg" alt="min age">
          <p>18</p>
        </div>
        <div class="event_feaure__type_music">
          <img src="../../../../assets/icons/fill/music-notes-fill.svg" alt="music">
          <p>Reggaeton</p>
        </div>
        <div class="event_feaure__clothing">
          <img src="../../../../assets/icons/fill/t-shirt-fill.svg" alt="music">
          <p>Casual</p>
        </div>
      </div>
    </div>
    <div class="container--event_description">
      <h6 class="subtitle">Descripción</h6>
      <p>{{ plan.Descripcion }}</p>
    </div>
    <div class="container--event_ubi">
      <h6 class="subtitle">Ubicación</h6>
      <a  [href]="'https://www.google.com/maps/search/?api=1&query=' + plan.Localizacion" target="_blank" >{{ plan.Localizacion }}</a>
    </div>
    <div class="container--event_date_time">
      <h6 class="subtitle">Fecha y hora</h6>
      <div class="date_hour">
        <p>
          {{ diaSemana }} {{ refactorNumberDate(dia) }} de {{ mes }} del {{ year }}
        </p>
        <p>{{ refactorNumberDate(hora) }}:{{ refactorNumberDate(minutos) }}</p>
      </div>
    </div>
    <div class="container--text_see_more-event_images">
      <div class="container--event_images">
        <h6 class="subtitle">Imágenes</h6>
        <div class="cont-images">
          @if (imagenesEvento.length > 1) { @for (item of imagenesEvento |
          slice:1:4; track $index) {
          <img src="{{ item.Ruta }}" alt="img evento" />
          } }@else {
          <p>No hay imágenes</p>
          }
        </div>
      </div>
      @if (imagenesEvento.length > 1) {
      <div class="text-see_more" role="button">
        <p>Ver más</p>
      </div>
      }
    </div>
  </div>
</div>

