<div class="container-card">
  <div class="img_cover-local_name-icons">
    <img
      class="img_cover"
      src="https://www.salarazzmatazz.com/storage/img_cache/room1Dirty24web__1000x540.jpg"
      alt="Img Cover"
    />
    <div class="local_info-icons">
      <div class="local_img-local_name">
        <img
          class="local_img"
          src="https://scontent-bcn1-1.xx.fbcdn.net/v/t39.30808-6/352821287_3304685189792355_2898452865604277350_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=mZu7JYFxGEsQ7kNvgFoeyyo&_nc_ht=scontent-bcn1-1.xx&oh=00_AYCTKP4eQ1UwlM6_cmmzfc9aEc0bhkpVjUAmeP7TZP54oQ&oe=6648525A"
          alt="Local Img"
        />
        <p class="local_name">Razzmatazz</p>
      </div>
      <div class="characteristics_event_icons">
        <div class="icon_circle">
          <img
            class="characteristics-icon"
            src="../../../assets/icons/regular/music-note.svg"
            alt="icon"
          />
        </div>
        <div class="icon_circle">
          <img
            class="characteristics-icon"
            src="../../../assets/icons/regular/car.svg"
            alt="icon"
          />
        </div>
        <div class="icon_circle">
          <img
            class="characteristics-icon"
            src="../../../assets/icons/regular/martini.svg"
            alt="icon"
          />
        </div>
        <div class="icon_circle">
          <img
            class="characteristics-icon"
            src="../../../assets/icons/regular/t-shirt.svg"
            alt="icon"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="event_info-icon_like">
    <div class="event_info">
      <p class="event_title">
        Purpur & Perotutehasvisto + Mr. George Costanza + Dancers
      </p>
      <p class="event_date">Mie. <span>15</span> Mayo 2024</p>
    </div>
    <img
      class="icon_like"
      src="../../../assets/icons/regular/heart.svg"
      alt="icon like"
    />
  </div>
</div>
