<div class="container-card">
  <div class="img_cover-local_name-icons" >
    <img class="img_cover" src="{{ plan?.RutaImagenPlan }}" alt="Img Cover"  />
    <div class="local_info-icons" [class.autorNotVisible]="!autorInfoVisible" >
      @if (autorInfoVisible) {
      <div
        class="local_img-local_name"
        [routerLink]="['/', idUsuario, 'autor', plan?.IdAutor]"
      >
        <img
          class="local_img"
          src="{{
            plan?.ImagenLogoAutor
              ? plan?.ImagenLogoAutor
              : 'https://static.vecteezy.com/system/resources/previews/005/005/788/large_2x/user-icon-in-trendy-flat-style-isolated-on-grey-background-user-symbol-for-your-web-site-design-logo-app-ui-illustration-eps10-free-vector.jpg'
          }}"
          alt="Local Img"
        />
        <p class="local_name">{{ plan?.NombreAutor }}</p>
      </div>
      <div class="container-local_more_info_popup">
        <div class="local_more_info_popup">
          <div class="local_img_popup-local_name_popup-local_ubi">
            <img
              class="local_img_popup"
              src="{{ plan?.ImagenLogoAutor }}"
              alt="Local Img"
              [routerLink]="['/', idUsuario, 'autor', plan?.IdAutor]"
            />
            <div class="local_name_popup-local-ubi">
              <p
                class="local_name_popup"
                [routerLink]="['/', idUsuario, 'autor', plan?.IdAutor]"
              >
                {{ plan?.NombreAutor }}
              </p>
              <div class="container_local_ubi">
                <img
                  src="../../../assets/icons/fill/map-pin-fill.svg"
                  alt="Map Pin"
                />
                <a class="local_ubi" [href]="'https://www.google.com/maps/search/?api=1&query=' + plan?.LocalidadAutor" target="_blank" >{{ plan?.Localizacion }} ,España</a>
              </div>
            </div>
          </div>
          <div class="local_stats_popup">
            <div class="local_stats_followers">
              <p class="local_stats_followers_number">{{ plan?.Seguidores }}</p>
              <p class="local_stats_followers_text">Seguidores</p>
            </div>
            <div class="separator"></div>
            <div class="local_stats_rating">
              <img
                src="../../../assets/icons/fill/star-fill.svg"
                alt="Star fill Rating"
              />
              <p class="local_stats_rating_number">
                {{ plan?.RatingAutor ?? 0 | number : "1.1-1" }}
              </p>
            </div>
          </div>
          <button
            class="popup_following_btn"
            (click)="toggleFollow()"
            [class.design_btn_follow]="isFollowing"
          >
            @if (!isFollowing) { Seguir }@else { Siguiendo }
          </button>
        </div>
      </div>
      }
      <div class="card_control" [routerLink]="['/', idUsuario, 'event', plan?.IdPlan]"></div>
      <div class="characteristics_event_icons">
        <div class="icon_circle">
          <img
            class="characteristics-icon"
            src="../../../assets/icons/regular/music-note.svg"
            alt="icon"
          />
        </div>
        <div class="icon_circle">
          <img
            class="characteristics-icon"
            src="../../../assets/icons/regular/car.svg"
            alt="icon"
          />
        </div>
        <div class="icon_circle">
          <img
            class="characteristics-icon"
            src="../../../assets/icons/regular/martini.svg"
            alt="icon"
          />
        </div>
        <div class="icon_circle">
          <img
            class="characteristics-icon"
            src="../../../assets/icons/regular/t-shirt.svg"
            alt="icon"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="event_info-icon_like">
    <div class="event_info" [routerLink]="['/', idUsuario, 'event', plan?.IdPlan]">
      <p class="event_title">
        {{ plan?.Titulo }}
      </p>
      <p class="event_date">
        {{ diaSemana }}. <span>{{ refactorNumberDate(dia) }}</span> {{ mes }}
        {{ year }} -
        <span
          >{{ refactorNumberDate(hora) }}:{{
            refactorNumberDate(minutos)
          }}</span
        >
      </p>
    </div>
    <label class="container-icon_like">
      <div class="btn-like" role="button" (click)="onLike()">
        @if (!isLiked) {
        <img
          class="icon_like"
          src="../../../assets/icons/regular/heart.svg"
          alt="icon like"
        />
        }@else {
        <div class="icon_like-liked">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
            <defs>
              <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" stop-color="#5e17eb" />
                <stop offset="100%" stop-color="#A233D8" />
              </linearGradient>
            </defs>
            <rect width="256" height="256" fill="none" />
            <path
              d="M240,102c0,70-103.79,126.66-108.21,129a8,8,0,0,1-7.58,0C119.79,228.66,16,172,16,102A62.07,62.07,0,0,1,78,40c20.65,0,38.73,8.88,50,23.89C139.27,48.88,157.35,40,178,40A62.07,62.07,0,0,1,240,102Z"
              fill="url(#gradient)"
            />
          </svg>
        </div>
        }
      </div>
    </label>
  </div>
</div>
