<div class="container-global_nav">
  <nav class="app_logo-nav">
    <ul class="ul-app_logo-pages">
      <li role="button" routerLink="home">
        <div class="app_logo">
          <img
            src="../../../assets/img/logo/Logo Linear Gradient.svg"
            alt="logo"
            class="logo"
          />
          <h4>Fast Party</h4>
        </div>
      </li>
      <li>
        <a
          (click)="statePage = 1"
          class="home-link"
          routerLink="home"
          [class.active-links]="statePage == 1"
          >Inicio</a
        >
      </li>
      <li>
        <a
          (click)="statePage = 2"
          class="explore-link"
          routerLink="explore"
          [class.active-links]="statePage == 2"
          >Explorar</a
        >
      </li>
      <li>
        <a
          (click)="onClick()"
          class="my_events-link"
          [class.active-links]="statePage == 3"
          >Mis eventos</a
        >
      </li>
    </ul>
  </nav>
  <div class="searcher">
    <img
      src="../../../assets/icons/regular/magnifying-glass.svg"
      alt="search_icon"
    />
    <input
      type="text"
      placeholder="Buscar"
      class="input_searcher"
      name="searcher"
    />
  </div>
  <div class="icon_messages-icon_notifications-user_setup">
    <nav class="nav-messages-notifications">
      <ul class="ul-messages-notifications">
        <li>
          <div class="icon-search" role="button">
            <img
              src="../../../assets/icons/regular/magnifying-glass.svg"
              alt="search_icon"
            />
          </div>
        </li>
        <li>
          <div (click)="stateMessage = !stateMessage" role="button">
            @if (!stateMessage) {
            <img
              src="../../../assets/icons/regular/chats-teardrop.svg"
              alt=""
            />
            }@else {
            <img
              src="../../../assets/icons/fill/chats-teardrop-fill.svg"
              alt=""
            />
            }
          </div>
        </li>
        <li>
          <div (click)="stateNotif = !stateNotif" role="button">
            @if (!stateNotif) {
            <img src="../../../assets/icons/regular/bell-simple.svg" alt="" />
            }@else {
            <img src="../../../assets/icons/fill/bell-simple-fill.svg" alt="" />
            }
          </div>
        </li>
        <li>
          <div class="icon-menu">
            <label class="i-menu">
              <input
                type="checkbox"
                (change)="onCheckboxChange($event)"
                [checked]="vision_menu"
              />
              <svg viewBox="0 0 32 32">
                <path
                  class="line line-top-bottom"
                  d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
                ></path>
                <path class="line" d="M7 16 27 16"></path>
              </svg>
            </label>
          </div>
        </li>
      </ul>
    </nav>

    <ul class="menu">
      <li role="button" routerLink="profile" [class.user_without_account]="user_id == 0">
        <div role="button">
          <img src="{{ perfilUsuario.Imagen }}" alt="user_logo" />
        </div>
        @if (user_id != 0) {
        <div class="container-user_name-icon_down_arrow">
          <h4>{{ perfilUsuario.NombreUsuario }}</h4>
          <img
            src="../../../assets/icons/regular/caret-down.svg"
            alt="arrow_down"
          />
        </div>
        }
      </li>
      <div class="container-submenu">
        <ul class="submenu">
          <div class="smart-info_user" role="button" routerLink="profile" [class.user_without_account]="user_id == 0">
            <img src="{{ perfilUsuario.Imagen }}" alt="user_logo" />
            @if (user_id != 0) {
            <div class="name_user-email_user">
              <h4>{{ perfilUsuario.NombreUsuario }}</h4>
              <p>{{ perfilUsuario.Email }}</p>
            </div>
            }
          </div>
          <div class="container-options_users-option_sign_out">
            @if(user_id != 0){
            <div class="options_user">
              <li role="button" [routerLink]="['profile']">
                <img
                  src="../../../assets/icons/regular/user.svg"
                  alt="user_profile"
                />
                <p>Ver perfil</p>
              </li>
              <li role="button" routerLink="/settings">
                <img
                  src="../../../assets/icons/regular/gear.svg"
                  alt="user_settings"
                />
                <p>Ajustes</p>
              </li>
            </div>
            <hr />
            <li class="option-sign_out" role="button" routerLink="/login">
              <img
                src="../../../assets/icons/fill/sign-in-fill.svg"
                alt="user_sign_out"
              />
              <p>Cerrar sesión</p>
            </li>
            }@else{
            <div class="options_user">
              <li role="button" [routerLink]="['/login']">
                <img
                  src="../../../assets/icons/regular/sign-in.svg"
                  alt="user_profile"
                />
                <p>Iniciar sesión</p>
              </li>
              <li role="button" routerLink="/register">
                <img
                  src="../../../assets/icons/fill/user-plus-fill.svg"
                  alt="user_settings"
                />
                <p>Crear cuenta</p>
              </li>
            </div>
            }
          </div>
        </ul>
      </div>
    </ul>
  </div>
  <div
    class="control-popup_menu"
    [class.control-popup_menu_visible]="vision_menu"
    (click)="vision_menu = !vision_menu"
  ></div>
  <div class="popup_menu" [class.popup_menu_visible]="vision_menu">
    <div class="content-menu">
      <div class="user_info-nav_pages--menu" (click)="vision_menu = false">
        <div
          class="user_info-user_logo--menu"
          role="button"
          [routerLink]="['profile']"
          [class.user_without_account]="user_id == 0"
        >
          <img src="{{ perfilUsuario.Imagen }}" alt="user_logo" />
          <div class="contianer-user_info--menu">
            <h4>{{ perfilUsuario.NombreUsuario }}</h4>
            <p>{{ perfilUsuario.Email }}</p>
          </div>
        </div>
        <div class="nav_pages--menu">
          <ul (click)="vision_menu = false">
            <li routerLink="home"><a>Inicio</a></li>
            <li routerLink="explore"><a>Explorar</a></li>
            <li (click)="onClick()"><a>Mis eventos</a></li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="user_setup--menu">
        <ul (click)="vision_menu = false">
          @if(user_id != 0){
          <li role="button" routerLink="profile">
            <img
              src="../../../assets/icons/regular/user.svg"
              alt="user_profile"
            />
            <p>Ver perfil</p>
          </li>
          <li role="button" routerLink="settings">
            <img
              src="../../../assets/icons/regular/gear.svg"
              alt="user_settings"
            />
            <p>Ajustes</p>
          </li>
          <li role="button" routerLink="/login">
            <img
              src="../../../assets/icons/regular/sign-out.svg"
              alt="user_sign_out"
            />
            <p>Cerrar sesión</p>
          </li>
          }@else{
            <li role="button" [routerLink]="['/login']">
              <img
                src="../../../assets/icons/fill/sign-in-fill.svg"
                alt="user_profile"
              />
              <p>Iniciar sesión</p>
            </li>
            <li role="button" routerLink="/register">
              <img
                src="../../../assets/icons/fill/user-plus-fill.svg"
                alt="user_settings"
              />
              <p>Crear cuenta</p>
            </li>
          }
        </ul>
      </div>
      <div class="info-footer">
        <ul>
          <li>
            <p>
              © <span>{{ actualYear }}</span> Fast Party. All rights reserved
            </p>
          </li>
          <li>
            <select name="idioms" id="idioms">
              <option value="spanish" selected>Español</option>
              <option value="catalan">Catalán</option>
              <option value="english">Inglés</option>
              <option value="italian">Italiano</option>
              <option value="french">Francés</option>
              <option value="portuguese">Portugués</option>
            </select>
          </li>
          <li><a href="" class="" id="">Términos del servicio</a></li>
          <li><a href="" class="" id="">Política de privacidad</a></li>
          <li><a href="" class="" id="">Administrar privacidad</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
