<div class="container-global_nav">
  <nav class="app_logo-nav">
    <ul class="ul-app_logo-pages">
      <li>
        <div class="app_logo">
          <img
            src="../../../assets/img/logo/Logo Linear Gradient.svg"
            alt="logo"
            class="logo"
          />
          <h4>Fast Party</h4>
        </div>
      </li>
      <li>
        <a
          (click)="statePage = 1"
          class="home-link"
          routerLink="/home"
          [class.statePage]="statePage === 1"
          >Inicio</a
        >
      </li>
      <li>
        <a
          (click)="statePage = 2"
          class="explore-link"
          routerLink="/login"
          [class.statePage]="statePage === 2"
          >Explorar</a
        >
      </li>
      <li>
        <a
          (click)="statePage = 3"
          class="my_events-link"
          routerLink="/my_events"
          [class.statePage]="statePage === 3"
          >Mis eventos</a
        >
      </li>
    </ul>
  </nav>
  <div class="searcher">
    <img
      src="../../../assets/icons/regular/magnifying-glass.svg"
      alt="search_icon"
    />
    <input
      type="text"
      placeholder="Buscar"
      class="input_searcher"
      name="searcher"
    />
  </div>
  <div class="icon_messages-icon_notifications-user_setup">
    <nav class="nav-messages-notifications">
      <ul class="ul-messages-notifications">
        <li>
          <div class="icon-search" role="button">
            <img
              src="../../../assets/icons/regular/magnifying-glass.svg"
              alt="search_icon"
            />
          </div>
        </li>
        <li>
          <div (click)="stateMessage = !stateMessage" role="button">
            @if (!stateMessage) {
            <img
              src="../../../assets/icons/regular/chats-teardrop.svg"
              alt=""
            />
            }@else {
            <img
              src="../../../assets/icons/fill/chats-teardrop-fill.svg"
              alt=""
            />
            }
          </div>
        </li>
        <li>
          <div (click)="stateNotif = !stateNotif" role="button">
            @if (!stateNotif) {
            <img src="../../../assets/icons/regular/bell-simple.svg" alt="" />
            }@else {
            <img src="../../../assets/icons/fill/bell-simple-fill.svg" alt="" />
            }
          </div>
        </li>
        <li>
          <div class="icon-menu">
            <label class="hamburger">
              <input type="checkbox" />
              <svg viewBox="0 0 32 32">
                <path
                  class="line line-top-bottom"
                  d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
                ></path>
                <path class="line" d="M7 16 27 16"></path>
              </svg>
            </label>
          </div>
        </li>
      </ul>
    </nav>

    <ul class="menu">
      <li role="button" [routerLink]="['/profile', this.user_id]">
        <div role="button">
          <img
            src="https://scontent-bcn1-1.xx.fbcdn.net/v/t39.30808-6/352821287_3304685189792355_2898452865604277350_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=mZu7JYFxGEsQ7kNvgFoeyyo&_nc_ht=scontent-bcn1-1.xx&oh=00_AYCTKP4eQ1UwlM6_cmmzfc9aEc0bhkpVjUAmeP7TZP54oQ&oe=6648525A"
            alt="user_logo"
          />
        </div>
        <div class="container-user_name-icon_down_arrow">
          <h4>Razzmatazz</h4>
          <img
            src="../../../assets/icons/regular/caret-down.svg"
            alt="arrow_down"
          />
        </div>
      </li>
      <div class="container-submenu">
        <ul class="submenu">
          <div class="smart-info_user" role="button" [routerLink]="['/profile', this.user_id]">
            <img
              src="https://scontent-bcn1-1.xx.fbcdn.net/v/t39.30808-6/352821287_3304685189792355_2898452865604277350_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_ohc=mZu7JYFxGEsQ7kNvgFoeyyo&_nc_ht=scontent-bcn1-1.xx&oh=00_AYCTKP4eQ1UwlM6_cmmzfc9aEc0bhkpVjUAmeP7TZP54oQ&oe=6648525A"
              alt="user_logo"
            />
            <div class="name_user-email_user">
              <h4>Razzmatazz</h4>
              <p [innerHTML]="'razzmatazz@gmail.com'"></p>
            </div>
          </div>
          <div class="container-options_users-option_sign_out">
            <div class="options_user">
              <li role="button" [routerLink]="['/profile', this.user_id]">
                <img
                  src="../../../assets/icons/regular/user.svg"
                  alt="user_profile"
                />
                <p>Ver perfil</p>
              </li>
              <li role="button" routerLink="/settings">
                <img
                  src="../../../assets/icons/regular/gear.svg"
                  alt="user_settings"
                />
                <p>Ajustes</p>
              </li>
            </div>
            <hr />
            <li class="option-sign_out" role="button" routerLink="/login">
              <img
                src="../../../assets/icons/regular/sign-out.svg"
                alt="user_sign_out"
              />
              <p>Cerrar sesión</p>
            </li>
          </div>
        </ul>
      </div>
    </ul>
  </div>
</div>
