<div class="container--autor_comments">
  <div class="container--list_comments"></div>
  <div class="input-container">
    <input
      type="text"
      id="input"
      placeholder="Escribe un comentario"
      required
    />
    <label class="content-input">
      <div role="button" class="input-icon">
        <img
          class="icon"
          src="../../../../../assets/icons/regular/paper-plane-right.svg"
          alt=""
        />  
      </div>
    </label>
    
    <div class="underline"></div>
  </div>
</div>
