<div class="user_profile--page">
  <div class="container--user_logo-btn_edit">
    <img src="{{ perfilUsuario.Imagen }}" alt="Img User Profile" />
    <button class="btn_edit_profile">
      <img
        src="../../../../../assets/icons/fill/note-pencil-fill.svg"
        alt="icon edit"
      />
      <p>Editar</p>
    </button>
  </div>
  <form action="#" class="form--user_profile">
    <div class="union--inputs-input_birthday">
      <div class="container--inputs">
        <div class="container--left_inputs">

          <div class="input-container">
            <input type="text" id="input" formControlName="Nombre" required />
            <label for="input" class="label">Nombre</label>
            <div class="underline"></div>
          </div>

          <div class="input-container">
            <input type="text" id="input" formControlName="Apellidos" required />
            <label for="input" class="label">Apellidos</label>
            <div class="underline"></div>
          </div>

          <div class="input-container">
            <input type="text" id="input" formControlName="NombreUsuario" required />
            <label for="input" class="label">Nombre de usuario</label>
            <div class="underline"></div>
          </div>
        </div>
        <div class="container--right_inputs">
            <div class="input-container">
                <input type="text" id="input" formControlName="E    mail" required />
                <label for="input" class="label">Correo electrónico</label>
                <div class="underline"></div>
              </div>
    
              <div class="input-container">
                <input type="text" id="input" formControlName="Telefono" required />
                <label for="input" class="label">Teléfono</label>
                <div class="underline"></div>
              </div>
    
              <div class="input-container">
                <input type="text" id="input" formControlName="Contrasenya" required />
                <label for="input" class="label">Contraseña</label>
                <div class="underline"></div>
              </div>
        </div>
      </div>
      <div class="container-input-date-label"></div>
    </div>
    <div class="container--buttons_control_form">
      <button class="btn_cancel"></button>
      <button class="btn_submit"></button>
    </div>
  </form>
</div>
