@use "variables.scss" as stl;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: stl.$font-family-montserrat;
}

html {
  overflow-x: hidden;
  scrollbar-width: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.error-message-input {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: stl.$error-color-500;
  font-size: 12px;
  font-weight: 500;
  opacity: 0;
  animation: fade-in-top 0.5s ease-in-out forwards;
}

.container-list_events{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 40px;
  column-gap: 24px;
  animation: appear 0.7s ease-in-out forwards;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}

.container-tag_menu {
  position: absolute;
  display: inline-flex;

  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 50px;
  background-color: rgba(stl.$base-color-black, 0.05);
  left: 50%;
  transform: translateX(-50%);
  transition: .3s ease-in-out;
  
  div[role="button"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-inline: 20px;

    a {
      text-decoration: none;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      color: rgba(stl.$base-color-black, 0.5);
      transition: 0.3s ease-in-out;
    }

    .tag-select {
      color: stl.$base-color-black;
    }
  }
}


.union-tag_menu-list_events {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-inline: 24px;
  .tag_menu-filters {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: end;

    animation: fade-in-top 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s both;

    .container-tag_menu {
      @media screen and (max-width: 768px) {
        left: 0 !important;
        transform: translateX(0) !important;
      }
    }

    .container-filters {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      background-color: rgba(stl.$base-color-black, 0.05);
      border-radius: 50px;
      gap: 8px;

      cursor: pointer;

      @media screen and (max-width: 400px) {
        padding: 8px !important;

        p {
          display: none;
        }
      }
      img {
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }

      p {
        font-size: 16px;
        font-weight: 400;
        color: stl.$base-color-black;
        transition: 0.3s ease-in-out;
      }
    }
  }

  .btn-see_map{
    opacity: 0;
    position: fixed;
    bottom: 56px;
    right: 40px;
    display: inline-flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;

    border: none;
    border-radius: 50px;
    background: linear-gradient(
      15deg,
      rgba(stl.$primary-color-500, 0.7),
      rgba(stl.$secondary-color-600, 0.7)
    )
    no-repeat;
    backdrop-filter: blur(40px);

    img{
      width: 18px;
      height: 18px;
      filter: invert(1);
    }

    p{
      font-size: 14px;
      font-weight: 600;
      color: stl.$base-color-white;
    }

    animation: fade-in-bottom 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s forwards;
    transition: .3s ease-in-out;
    &:hover{
      scale: 1.05;
    }

    @media screen and (max-width: 768px) {
      //quiero centrar el boton en el centro de la pantalla
      right: 50%;
      transform: translateX(50%);
    }
  }
}

/*------------------ANIMATIONS--------------------*/

@media screen and (max-width: 1600px) {
  @keyframes scroll-reveal-slick-buttons {
    0% {
      transform: translateY(150px);
      visibility: hidden;
    }
    10% {
      transform: translateY(60px);
      visibility: visible;
    }
    30% {
      transform: translateY(10px);
      opacity: 1;
      visibility: visible;
    }
    60% {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
    70% {
      transform: translateY(20px);
      opacity: 0;
    }
    90% {
      transform: translateY(50px);
      visibility: hidden;
      opacity: 0;
    }
    100% {
      transform: translateY(150px);
      visibility: hidden;
      opacity: 0;
    }
  }
}

@keyframes scroll-reveal-slick-buttons {
  0% {
    transform: translateY(150px);
    visibility: hidden;
  }
  10% {
    transform: translateY(60px);
    visibility: visible;
  }
  30% {
    transform: translateY(10px);
    opacity: 1;
    visibility: visible;
  }
  60% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  70% {
    transform: translateY(20px);
    opacity: 0;
  }
  90% {
    transform: translateY(50px);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    transform: translateY(150px);
    visibility: hidden;
    opacity: 0;
  }
}

@mixin scroll-reveal($direction, $distance) {
  from {
    #{$direction}: -100em;
    filter: blur(20px);
  }
  to {
    #{$direction}: $distance;
    visibility: visible;
    filter: blur(0);
  }
}

@keyframes scroll-reveal-romboFI-left {
  @include scroll-reveal(left, -34.5em);
}

@keyframes scroll-reveal-romboFI-right {
  @include scroll-reveal(right, -34.5em);
}

@keyframes moveDown {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(10px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-365.5px * 7));
  }
}

@mixin fade-in($pixels, $orientation) {
  from {
    @if $orientation == "vertical" {
      transform: translateY($pixels);
    } @else if $orientation == "horizontal" {
      transform: translateX($pixels);
    }
    opacity: 0;
  }
  to {
    @if $orientation == "vertical" {
      transform: translateY(0) !important;
    } @else if $orientation == "horizontal" {
      transform: translateX(0);
    }
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  @include fade-in(33px, vertical);
}

@keyframes fade-in-top {
  @include fade-in(-15px, vertical);
}

@keyframes fade-in-left {
  @include fade-in(-15px, horizontal);
}

@keyframes fade-in-right {
  @include fade-in(15px, horizontal);
}

@keyframes fade-in-top-header {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    backdrop-filter: blur(20px);
  }
}

@keyframes img-focus-in {
  0% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes text-appear {
  from {
    opacity: 0;
    gap: 100px;
    visibility: hidden;
  }
  to {
    opacity: 1;
    gap: 14px;
    visibility: visible;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale-in-hor-center {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
