@use 'variables.scss' as stl;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: stl.$font-family-montserrat;
  
}

html{
  overflow-x: hidden;
  scrollbar-width: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}




/*------------------ANIMATIONS--------------------*/

@keyframes moveDown {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(10px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-365.5px * 7));
  }
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(33px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top{
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes img-focus-in {
  0% {
    filter: brightness(.5) ;
  }
  100% {
    filter: brightness(1) ;    
  }
}
